langchain
langchain-community
langchain-core
langchain-openai

openai

pypdf
python-dotenv

faiss-cpu
chromadb

tiktoken

sentence-transformers

unstructured

beautifulsoup4

pandas
numpy

jupyter

streamlit